<!DOCTYPE html>
<html>
    <head>
        <title>My First Web Page</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div id="shopping-list">
            <h1>{{ header }}</h1>
            <div id="header"> 
                <div>
                    <input class="input" type="text" placeholder="Add an item" v-model="newItem" @keyup.enter="addItem">
                    <button class="button-1" role="button" v-bind:disabled="newItem.length === 0" @click="addItem">Add Item</button>
                </div>
                <ul class="otis header-li">
                    <li v-for="item in items">{{ item }}</li>
                </ul>

            </div>
            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script>
            console.log("Hello World!");
            var shoppingList = new Vue({
                el: '#shopping-list',
                data: {
                    header: 'Shopping List App',
                    newItem: '',
                    items: [
                        '10 Apples',
                        '20 Oranges',
                        '30 Bananas',
                    ]
                },
                methods: {
                    addItem: function() {
                        this.items.push(this.newItem);
                        this.newItem = '';
                    }
                    }
            })
        </script>
    </body>
</html>